<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>YugabyteDB Log Analyzer - Report</title>
    <link rel="stylesheet" href="/static/app.css" />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/static/app.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="yuga-header">
      <img
        class="yuga-logo"
        src="/img/yugabytedb-icon-seeklogo.svg"
        alt="YugabyteDB Logo"
      />
      <a href="/" style="text-decoration: none; color: inherit"
        ><span class="yuga-title">YugabyteDB Log Analyzer</span></a
      >
    </div>
    <div class="yuga-container">
      <div id="controls" style="display: none">
        <label
          >Node:
          <select id="nodeSelect"></select>
        </label>
        <label
          >Process:
          <select id="logTypeSelect"></select>
        </label>
      </div>
      <div class="tab-bar">
        <button class="tab-btn active" data-tab="histogram-tab">
          Histogram
        </button>
        <button class="tab-btn" data-tab="table-tab">Table View</button>
        <button class="tab-btn" data-tab="gflags-tab">GFlags</button>
        <button class="tab-btn" data-tab="nodeinfo-tab">Node Info</button>
      </div>
      <div id="tab-panels">
        <div id="histogram-tab" class="tab-panel" style="display: block">
          <div id="histogram-controls" style="margin-bottom: 18px">
            <label
              >Time Interval:
              <select id="intervalSelect">
                <option value="1">1 minute</option>
                <option value="5">5 minutes</option>
                <option value="15">15 minutes</option>
                <option value="30">30 minutes</option>
                <option value="60">1 hour</option>
              </select>
            </label>
            <label style="margin-left: 16px"
              >Time Range:
              <input type="datetime-local" id="startTimePicker" />
              to
              <input type="datetime-local" id="endTimePicker" />
            </label>
            <button id="applyHistogramFilter" style="margin-left: 12px">
              Apply
            </button>
          </div>
          <div id="histogram"></div>
        </div>
        <div id="table-tab" class="tab-panel" style="display: none">
          <div id="tables"></div>
        </div>
        <div id="gflags-tab" class="tab-panel" style="display: none">
          <div id="gflags"></div>
        </div>
        <div id="nodeinfo-tab" class="tab-panel" style="display: none">
          <div id="nodeinfo"></div>
        </div>
      </div>
    </div>
    <script>
      window.report_uuid = "{{ report_uuid|default('') }}";
    </script>
  </body>
</html>
